*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

tr,th,td{
    padding: 10px;
    border: 1px solid goldenrod;
}

#form-personas{
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 0px 10px;
}